{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>EMS</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}?{% now "u" %}">
    <style>
    body {
    background-image: url('{% static '/img/bgim.jpg' %}');
    }
    </style>
</head>

<body>

<h1>WELCOME TO ENERGY MANAGEMENT SYSTEM</h1>
<hr size="2" width="100%" color="RED">

<div class="align">
    <h5>REGISTER</h5>
<form action="" method="POST" >
    {% csrf_token %}

        <p class="username"><label for="username"></label><input type="text"  id="username" name="user" placeholder="Username or Email" required></p>

        <p class="password"><label for="password"></label><input type="password"  id="password" name="password" placeholder="Password" required></p>

   <h3><br><button type="Submit" name="register_data" value="Register_data">Register</button></h3>
    {% if messages %}
    {% for message in messages %}
    <div class="message">{{message}}</div>
    {% endfor %}
    {% endif %}
 </form>
    <div class="sign_register_button"><a href="{% url 'login' %}">Sign in</a></div>
</div>
</body>
</html>
